@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap");
html {
  font-size: 16px;
  font-family: "League Spartan", sans-serif; }

body {
  margin: 0; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0; }

p {
  line-height: 1.25rem; }

h1 {
  line-height: 1.5rem; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    border-bottom: solid; }

.top-blurb {
  margin-left: 2.063rem;
  margin-right: 2.063rem; }

.about__blurb {
  margin-left: 2.063rem;
  margin-right: 2.063rem; }

.nav {
  display: flex;
  flex-direction: row; }

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .slider__toggle {
    display: flex;
    flex-direction: row;
    justify-content: end; }

.nav {
  margin: 3rem 2.063rem; }
  .nav__toggle--close {
    display: none; }
  .nav .logo {
    margin-left: auto;
    margin-right: auto; }
  .nav__links--mobile {
    display: none; }

.slider {
  background-image: url("/images/mobile-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 1/1; }
