@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap");
html {
  font-size: 16px;
  font-family: "League Spartan", sans-serif; }

body {
  margin: 0; }

button {
  border: none;
  background-color: transparent; }

p {
  line-height: 1.25rem; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    border-bottom: solid; }
