@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;500;600;700&display=swap");
html {
  font-size: 16px;
  font-family: "League Spartan", sans-serif; }

body {
  margin: 0 auto;
  max-width: 1440px; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0; }

p {
  line-height: 1.5rem;
  font-weight: 100; }

h1 {
  line-height: 2rem;
  font-size: 2rem;
  margin-top: 0; }

h4 {
  letter-spacing: 0.375em;
  margin-top: 0; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

.top-blurb {
  margin: 3.75rem 1.875rem; }
  .top-blurb__CTA, .top-blurb__heading, .top-blurb__paragraph {
    max-width: 25rem; }
  .top-blurb__CTA {
    font-weight: 500;
    letter-spacing: 1em; }
    .top-blurb__CTA:hover {
      color: #a1a1a1; }

@media (min-width: 455px) {
  .top-blurb {
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1440px) {
  .top-blurb {
    margin: unset;
    width: calc(1440px - 840px); }
    .top-blurb__heading, .top-blurb__paragraph {
      margin-left: auto;
      margin-right: auto; }
    .top-blurb__heading {
      margin-top: auto; }
    .top-blurb__CTA {
      margin-right: auto;
      margin-left: auto;
      min-width: 25rem; } }

.about__blurb {
  margin: 3.375rem 1.875rem 2.75rem 1.875rem;
  max-width: 25rem; }

.about__paragraph {
  margin-bottom: 0; }

@media (min-width: 455px) {
  .about__blurb {
    margin-left: auto;
    margin-right: auto; } }

.nav__toggle--close {
  display: none; }

@media (min-width: 501px) {
  .nav__toggle {
    display: none; } }

.slider__container {
  background-color: black;
  padding: 1rem 1.5rem; }
  .slider__container:hover {
    background-color: #a1a1a1; }

.about__img-cont--dark {
  background-image: url("/images/image-about-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 420/266; }

.about__img-cont--light {
  margin-left: auto;
  background-image: url("/images/image-about-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 420/266; }

@media (min-width: 801px) {
  .about__img-cont--dark {
    max-width: 26.25rem; }
  .about__img-cont--light {
    max-width: 26.25rem; } }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.nav {
  display: flex;
  flex-direction: row; }
  .nav__links {
    display: none; }
    .nav__links--mobile {
      flex-direction: column !important;
      gap: 1.5rem; }
  @media (min-width: 501px) {
    .nav {
      gap: 2rem; }
      .nav__links {
        display: flex !important;
        flex-direction: row;
        gap: 2rem !important; } }

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .slider__toggle {
    display: flex;
    flex-direction: row;
    justify-content: end; }

.top-blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.nav {
  margin: 3rem 1.875rem; }
  .nav .logo {
    align-self: start;
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 501px) {
    .nav .logo {
      margin-left: unset;
      margin-right: unset; } }
  .nav__links {
    margin-top: 0; }
    .nav__links--mobile {
      position: absolute !important;
      background-color: #a1a1a1 !important;
      left: 1.75rem !important;
      top: 6rem !important;
      padding: 1rem !important;
      height: 10rem !important;
      width: 5rem !important; }
  .nav__link {
    height: 2rem; }
    .nav__link:hover {
      border-bottom: solid;
      border-color: white; }
    .nav__link--anchor {
      color: white; }

.slider {
  background-image: url("/images/mobile-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 375/360; }
  .slider__toggle--desktop {
    display: none;
    width: 180px;
    margin-top: auto;
    margin-right: auto; }
    .slider__toggle--desktop > .slider__container {
      width: 50%;
      aspect-ratio: 1/1; }

@media (min-width: 801px) {
  .slider {
    background-image: url("/images/desktop-image-hero-1.jpg");
    max-width: 840px;
    aspect-ratio: 840/534; } }

@media (min-width: 1440px) {
  .slider__toggle--desktop {
    display: flex; }
  .slider__toggle--mobile {
    display: none; } }
