$screen-sizes: (
  "mobile": 375px,
  "desktop": 1440px,
);

$colors: (
  "dark-grey": hsl(0, 0%, 63%),
  "black": hsl(0, 0%, 0%),
  "white": hsl(0, 0%, 100%),
  "very-dark-grey": hsl(0, 0%, 27%),
);

$font-size: 16px;

$font-family: 'League Spartan', sans-serif;

$font-weights: ("light": 100,"bold": 500, "bolder": 600, "boldest": 700);


$margins: (
  "mobile-x": 2.063rem,
  "nav-y": 3rem
);
