button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

p{
    line-height: 1.25rem;
}

h1{
    line-height: 1.5rem;
}
ul{
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}