button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

p{
    line-height: 1.5rem;
    font-weight: map-get($map: $font-weights, $key: "light");
}

h1{
    line-height: 2rem;
    font-size: 2rem;
    margin-top: 0;
}

h4{
    margin-top: 0;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}