.top-blurb{
    margin: 3.75rem map-get($map: $margins, $key: "mobile-x");

    &__CTA{
        font-weight: map-get($map: $font-weights, $key: "bold");
        letter-spacing: 1em;
    }
}

.about{
    &__blurb{
     margin: 3.313rem map-get($map: $margins, $key: "mobile-x");
    }
    &__heading{
        letter-spacing: 0.375em;
    }
}