.about {
  &__img-cont {
    &--dark {
      background-image: url("/images/image-about-dark.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      aspect-ratio: 420/266;
    }
    &--light {
      margin-left: auto;
      background-image: url("/images/image-about-light.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      aspect-ratio: 420/266;
    }
  }
}

@media (min-width: 801px) {
  .about {
    &__img-cont {
      &--dark {
        max-width: 26.25rem;
      }
      &--light {
        max-width: 26.25rem;
      }
    }
  }
}
