.about {
  &__img-cont {
    &--dark {
      background-image: url("/images/image-about-dark.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      aspect-ratio: 420/266;
    }
    &--light {
        background-image: url("/images/image-about-light.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: 420/266;
      }
  }
}
