.nav {
  display: flex;
  flex-direction: row;

  &__links{
    &--mobile{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__toggle{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
