header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  &__links {
    &--mobile {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    &--desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__toggle {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}

.top-blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
