.nav {
  display: flex;
  flex-direction: row;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__toggle{
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
