.nav {
  margin: 3rem 1.875rem;
  .logo {
    align-self: start;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 501px) {
    .logo {
      margin-left: unset;
      margin-right: unset;
    }
  }

  &__links {
    margin-top: 0;
    &--mobile {
      position: absolute;
      background-color: map-get($map: $colors, $key: "dark-grey");

      left: 1.75rem;
      top: 6rem;
      padding: 1rem;
      height: 10rem;
      width: 5rem;
    }
  }

  &__link {
    height: 2rem;
    &:hover {
      border-bottom: solid;
      border-color: white;
    }
    &--anchor {
      color: map-get($map: $colors, $key: "white");
    }
  }
}
