.slider {
  background-image: url("/images/mobile-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 375/360;

  &__toggle {
    &--desktop {
      display: none;
      position: absolute;
      align-self: start;
      min-width: calc(1440px - 840px - 420px);
      margin-top: 27.813rem;
      margin-left: 52.5rem;
      & > .slider__container {
        width: 50%;
        aspect-ratio: 1/1;
      }
    }
  }
}

@media (min-width: 801px) {
  .slider {
    background-image: url("/images/desktop-image-hero-1.jpg");
    max-width: 840px;
    aspect-ratio: 840/534;
  }
}

@media (min-width: 1440px) {
  .slider {
    &__toggle {
      &--desktop {
        display: flex;
      }
      &--mobile {
        display: none;
      }
    }
  }
}
