.slider {
  background-image: url("/images/mobile-image-hero-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 375/360;

  &__toggle {
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: 801px) {
  .slider {
    background-image: url("/images/desktop-image-hero-1.jpg");
    max-width: 840px;
    aspect-ratio: 840/534;
  }
}
