.slider{
    background-image: url("/images/mobile-image-hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1/1;

    &__toggle{
        &--desktop{
            display: none;
        }
    }
}